<%- include('../partials/header.ejs') %> 

    <div id="book-list-wrapper">
        <h1 class="hero-title">Book List</h1>
        <br>
        <br>
        <div class="books-container">
          <% books.forEach(function(b) { %>


            <div class="book">
                <!-- < % b.coverArt === '' ? <img src="/images/placeholder.png" class="images"> : <img src="/images/placeholder.png" class="images">  %> -->
                <img src="/images/placeholder.png" class="images">
                <a class="book-properties" href=""> <%= b.title %> </a>

            </div> 
            <% }); %>
                    
        </div>

    </div>

<%- include('../partials/footer.ejs') %>