body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e0e4f2;
}

.nav-wrapper {
  display: flex;
  background-color: rgb(102, 125, 132);
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:active {
  color: rgb(231, 231, 231);
}

.brand-logo {
  width: 400px;
  object-fit: contain;
  margin-left: 2rem;
  margin-right: auto;
}

ul {
  list-style-type: none;
}


.right {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  font-size: 18px;
}

.auth {
  margin-right: 2rem;
  align-items: flex-end;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

#book-list-wrapper {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  height: 100vh;
}

.page-wrapper {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  height: 100vh;
}

.hero-title {
  align-self: center;
  text-decoration: underline;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, minmax(100px, 200px)); */
  gap: 1rem;
  grid-auto-flow: row;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14rem;
}

.images {
  border: 1.5px solid black;
  width: 150px;
  height: auto;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(2, minmax(100px, 200px)); */
  gap: 1rem;
  grid-auto-flow: row;
  
}

.review-entry {
border: 2px solid pink;
}

#profile-wrapper{
  display: flex;
  padding: 2rem;
  border-bottom: 2px solid black;
}

#profile-content {
  margin: 2rem;
}

#main-profile {
  border-radius: 50%;
  width: 200px;
  border: 1.3px solid #0D2C40;
}

#profile-name {
  font-size: x-large;
  margin-bottom: 0px;
}

#profile-email {
  font-size: large;
}

#review-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: baseline;
}

#my-reviews {
  align-self: flex-end;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#details-button {
  display: flex;
  flex-direction: row;
  border: 2px solid #ff0000;
  justify-content: right;
}

.button {
  display: flex;
  border: 2px solid black;
  align-items: center;
  padding: .7rem;
  border-radius: 1rem;
  color: black;
  
}

#new-book-wrapper {
  display: flex;
  border: 2px solid red;
}

#new-review-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
}

#book-search-wrapper {
  width: 600px;
}

#new-book {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  position: sticky;
  bottom: 0;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.name {
  color: #F15B31;
}

.book-properties {
  color: #0D2C40;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}