body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

.nav-wrapper {
  display: flex;
  background-color: rgb(102, 125, 132);
  margin: 0px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.brand-logo {
  width: 400px;
  object-fit: contain;
  margin-left: 2rem;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

.right {
  display: flex;
  flex-direction: row;
}

.auth {
  margin-right: 2rem;
  align-items: flex-end;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

#book-list-wrapper {
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.hero-title {
  align-self: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, minmax(100px, 200px)); */
  gap: 1rem;
  grid-auto-flow: row;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14rem;
}

.images {
  border: 1.5px solid black;
  width: 150px;
  height: auto;
}