<%- include('../partials/header.ejs') %>

<h1>New Book</h1>

<!-- < % if (user._id.equals(user && user._id)) { %> -->
    <div>
        <form id="new-book" action="/users" method="POST">
            <label>Title:</label>
            <input type="text" name="title">
            <label>Author:</label>
            <input type="text" name="author">
            <label>Category:</label>
            <input type="text" name="category">
            <label for="img">Cover Art:</label>
            <input type="file" id="img" name="img" accept="image/*">
            <input type="submit" value="Add Book">
        </form>
    </div> 


<%- include('../partials/footer.ejs') %>